@import "tailwindcss";

:root {
  --background: #F8F7FA;
  --foreground: #121212;
  --primary-purple: #8A2BE2;
  --primary-orange: #CC5500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #F8F7FA;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-purple: var(--primary-purple);
  --color-primary-orange: var(--primary-orange);
  
  --font-display: var(--font-space-grotesk);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
